  * {
    margin: 0;
    padding: 0;
  }
.cabecalho{
    display: flex;
    justify-content: center;
    background-color: aqua;
    padding-bottom: 100px;
}
p{
    max-width: 60%;
    margin: auto;
}
.navagacao{
    display: flex;
    justify-content:first baseline;
    gap: 30px;
}
.descricao-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px;
}
.imagem-descricao{
    height: 150px;
}
img {
    width: auto; 
    max-height: 100%; 
   }
.classificacao ul{
    display:inline-block

}
li{
    display: block;
}

#teste{
    justify-content: center;
}
.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
#textos-1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 200px;
}
.referencias{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
#video{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagem-cristiano2{
    display: flex;
    flex-direction: column;
    align-items: center;
}